# Node
node_modules/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo / React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.provisionprofile
bin/
build/

# Web App Dashboard
dist/
.next/
out/

# Environment / Secret keys
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.enc
*.pem

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Supabase local development secrets
supabase/.branches/
supabase/.temp/
